<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Tidbits</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        {% block css %}{% endblock %}
    </head>
    <body>
        <!-- Begin navigation bar. -->
        <div>
            Tidbits:
            <a href="{{ url_for('home') }}">Home</a>
            <a href="https://github.com/azhu7/Tidbits">Source</a>
        </div>
        <!-- End navigation bar. -->
        <hr>
        <h1>{{ title }}</h1>
        {% block content %}{% endblock %}

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>